@tailwind base;
@tailwind components;
@tailwind utilities;

/* @import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap'); */

.back-color{
    background: linear-gradient(98deg, #A13DE5 32.76%, #4E75B9 73.01%);
}

/* モーダルのオーバーレイ */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

/* モーダル本体 */
.quest-modal {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 50%;
    max-width: 500px;
}

/* ヘッダ */
.quest-modal h2 {
    text-align: center;
    margin-bottom: 20px;
}

/* フォーム要素 */
.issue-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.issue-form label {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 22px; /* サブタイトルのフォントサイズ */
    font-weight: 700; /* セミボールドフォント */
    margin-bottom: 15px; /* ラベルと入力フィールドの間の余白 */
    /* display: block; ブロックレベル要素として表示 */
    /* text-align: left; 左揃え */
    color: #555; /* やや濃いテキストカラー */
}

.issue-form input, 
.issue-form select {
    margin-top: 8px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
}

.issue-form textarea{
    margin-top: 8px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    height: 150px;
    width: 350px;
}

/* ボタン */
.quest-modal button {
    cursor: pointer;
    /* padding: 10px 20px; */
    /* margin-top: 10px; */
    border: none;
    border-radius: 4px;
    background-color: #007bff;
    color: white;
}

.quest-modal h2 {
    font-size: 28px; /* より大きなフォントサイズ */
    font-weight: bold; /* ボールドフォント */
    text-align: center; /* 中央揃え */
    margin-bottom: 30px; /* 下部の余白 */
    color: #333; /* 濃いテキストカラー */
}

.quest-modal button:hover {
    background-color: #0056b3;
}


.feedback-modal-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    width: 80%;
    max-width: 500px;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translate(-50%, -60%);
    }
    to {
        opacity: 1;
        transform: translate(-50%, -50%);
    }
}


/* dashboard */

.record-container {
    max-width: 90%;
    margin: 0 auto;
    padding: 0 2rem;
    align-items: center; 
    height: 40vh; /* ビューポートの高さの50% */
    overflow-y: auto; /* 必要に応じて垂直スクロールを有効にする */
}

.record-container h2, .daily-mission-container h2{
    color: #000;
    font-family: Inter;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 30px;
    margin-top: 30px;
}

.record-card {
    margin-bottom: 1rem;
    padding: 1rem;
    border: 1px solid #e2e8f0;
    border-radius: 0.5rem;
    background-color: #ffffff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.record-header{
    display: flex;
}

.record-details {
    margin-bottom: 1rem;
}

.record-actions {
    margin-bottom: 1rem;
    text-align: right;
    align-items: center;
}

.record-username{
    color: var(--black, #000);
    font-family: Inter;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.record-gymleader{
    color: #04B400;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.5px;
}

.btn-clear, .btn-fail {
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn-clear {
    background: linear-gradient(93deg, #4D54FF 10.41%, #0042A5 97.36%);
    color: white;
}

.btn-clear:hover {
    background: #c53030;
}

.btn-fail {
    background: linear-gradient(93deg, #000118 10.41%, #767676 97.36%);
    color: white;
}

.btn-fail:hover {
    background: linear-gradient(180deg, #B023E9 0%, #8546D4 100%);
}

.dashboard-question-area{
    display: flex;
    justify-content: center;
    align-items: center; 
}

.toppage-quest{
    margin-top: 40px;
    margin-bottom: 100px;
    width: 270px;
    height: 110px;
    flex-shrink: 0;
    background: linear-gradient(97deg, #38D8EE 4.24%, rgba(56, 183, 238, 0.00) 98.61%);
    border: 6.886px solid #000;
    border-radius: 24px;
    box-shadow: 
        0px 4.59072px 4.59072px 0px rgba(0, 0, 0, 0.25) inset,
        0px 4.590717792510986px 4.590717792510986px rgba(0, 0, 0, 0.25);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #000; /* Adjust this if you want a specific text color */
    font-size: 16px; /* Adjust this if you want a specific font size */
    transition: 0.3s; /* For a smoother hover effect */
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 27.544px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    z-index: 1; /* ボタンをSVGの後ろに配置 */
}

.toppage-quest:hover {
    /* Add some hover effect if needed, for instance */
    opacity: 0.9;
}

.toppage-quest-component{
    display: flex;
    justify-content: center;
}

.toppage-quest-component > svg {
    position: absolute; /* SVGを絶対位置で配置 */
    top: 50%; /* 上端から50%の位置に配置 */
    left: 50%; /* 左端から50%の位置に配置 */
    transform: translate(-50%, -50%); /* SVGの中心が指定された位置に来るように移動 */
    z-index: 2; /* SVGをボタンの前面に配置 */
}


.dashboard-question-card {
    margin-top: 1rem;
    padding: 1rem;
    width: 30%;
    flex-direction: column; /* 子要素を縦方向に配置 */
    justify-content: center;/* 子要素を縦方向の中央に配置 */
    align-items: center;    /* 子要素を横方向の中央に配置 */
    flex-shrink: 0;
    margin-bottom: 20px;    /* カード間の間隔 */
    box-shadow: 0 4px 6px rgba(0,0,0,0.1); /* カードに少し影をつける */
    border-radius: 24px;
    border: 6px solid #000;
    background: linear-gradient(180deg, #B023E9 0%, #8546D4 100%);
}

.answer-card {
    margin-top: 0.5rem;
    padding: 0.5rem;
    border: 1px solid #e2e8f0;
    border-radius: 0.25rem;
    background-color: #ffffff;
}

.answer-card p{
    color: #000;
    text-align: center;
    font-family: Inter;
    font-size: 14.408px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}


.dashboard-subtitle{
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.dashboard-question-text{
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.issue-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    /* width: 500px; */
    /* height: 300px; */
    flex-shrink: 0;
    border-radius: 24px;
    background: #FFF;
}

.index-title{
    color:#A13DE5;
}

.daily-mission-container {
    max-width: 90%;
    margin: 0 auto;
}

.daily-mission-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.daily-mission-card {
    border: 1px solid #ccc;
    padding: 15px;
    border-radius: 8px;
    width: calc(50% - 20px); /* 2カードを一列に収めるための横幅に調整します */
}

.daily-mission-mark {
    background-color: black;
    color: white;
    border-radius: 10px; /* 角を丸める */
    padding: 10px 20px; /* 上下左右の余白 */
    margin: 10px 0; /* 上下のマージン */
    width: fit-content; /* コンテンツの幅に合わせる */
    box-sizing: border-box; /* パディングを含めたサイズでボックスサイズを計算 */
    text-align: center; /* テキストを中央揃えに */
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}


.daily_mission_img{
    margin: 0 auto;
}

.mission-description {
    text-align: center;
    margin: 0 auto;
    display: block;
    color: #000;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

/* 進捗情報にスタイルを適用 */
.mission-progress-info {
    text-align: center;
    margin: 0 auto;
    display: block;
    color: #000;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}


.progress-bar-container {
    background-color: #e0e0e0;
    border-radius: 8px;
    margin-top: 10px;
    height: 30px;
    position: relative;
    border: 4px solid #000;
}

.progress-bar {
    height: 100%;
    background: linear-gradient(91deg, #A13DE5 6.48%, #3F5DFF 96.36%);
    position: relative; /* テキストの位置指定の基点とする */
}

.progress-percentage {
    position: absolute; /* progress-bar-containerに対して絶対位置を指定 */
    left: 50%; /* 左端から50%の位置に */
    transform: translateX(-50%); /* 自身の幅の50%分左にずらす */
    white-space: nowrap; /* テキストを折り返さない */
    color: white; /* テキストの色 */
    padding: 2px 5px; /* テキストの周りの余白 */
    border-radius: 3px; /* 角を少し丸くする */
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.mission-completed {
    color: red;
    font-weight: bold;
    margin-top: 10px;
    text-align: center;
    font-size: 20px;
}

.mission-progress {
    color: orange;
    font-weight: bold;
    margin-top: 10px;
    text-align: center;
    font-size: 20px;
}


/* クエスト一覧画面 */

.issue-big-area{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    min-height: 100vh; 
    width: 100%; /* 必要に応じて */
}

.video-area{
    box-shadow: 4px 4px 8px 3px rgba(0, 97, 152, 0.15);
    display: flex;
    width: 1140px;
    height: 350px;
    flex-direction: column;
    align-items: center;
    flex-shrink: 0;
    border-radius: 20px;
    background: #FFF;
    margin-top: 30px;
}

.new-videos{
    width: 100%;
    display: flex;
    overflow-x: scroll;
    flex-direction: row;
    align-items: center; /* アイテムを垂直方向に中央揃え */
    justify-content: space-around; /* アイテムを等間隔に並べます */
    gap: 30px; 
}

.issue-index-title{
    color: #000;
    text-align: center;
    font-family: Roboto;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 22px; /* 91.667% */
    letter-spacing: 0.25px;
    margin-top: 30px;
    margin-bottom: 20px;
    margin-left: 30px;
}

.issue-index-card{
    width: 240px;
    height: 270px;
    flex-shrink: 0;
    border-radius: 12px;
    border: 1px solid #D3D3D3;
    background: #FFF;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    color: #000;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.issue-index-card-text{
    color: #000;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.issue-index-card-text h3{
    color:#A13DE5;
    font-size: 24px;
}

.issue-index-card-username{
    color: #04B400;
}


/* タイムラインのコンテナスタイル */
.timeline-container {
    width: 80%;
    margin: 0 auto;
    padding: 20px 0;
    background-color: #e9ecef; /* 明るい背景色 */
    border-radius: 15px;
}

/* 各カードのスタイル */
.timeline-card {
    background-color: #fff; /* 白背景 */
    border-radius: 15px;
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid #ced4da; /* 境界線の色 */
}

.timeline-title {
    font-size: 20px;
    margin-bottom: 10px;
    color:#A13DE5;
    font-size: 24px;
    font-weight: 700;
}

.timeline-username {
    font-size: 16px;
    color: #04B400;
    margin-bottom: 10px;
    font-weight: 700;
}

.timeline-description {
    font-size: 16px;
    margin-bottom: 10px;
    font-weight: 700;
}

/* ボタンのスタイル */
.timeline-button,
.issue-button {
    padding: 10px 15px;
    background: linear-gradient(180deg, #B023E9 0%, #8546D4 100%); /* 青色のボタン背景 */
    font-weight: 700;
    color:#FFF;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.timeline-button:hover {
    background-color: #FF4C00; /* ホバー時の青色 */
}


/* mypage */

.mycard-left-section, .mycard-right-section {
    height: calc(100vh - 60px); /* 60pxはNavbarの高さ分を想定。必要に応じて調整してください。 */
    padding: 20px;
}

.mycard-left-section {
    width: 75%;
    display: flex;
    flex-direction: column; /* 子要素を縦に配置する */
    justify-content: center; /* 縦方向の中心に配置 */
    align-items: center;     /* 横方向の中心に配置 */
    height: 100%;            /* 必要に応じて高さを設定 */
}

.mycard-right-section {
    width: 25%;
}

.issue-card, .feedback-card {
    background: #000;
    margin-bottom: 15px;
    padding: 15px;
    border-radius: 5px; /* 角を少し丸める */
}

.issue-card h3, .feedback-card h3{
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 10px;
}

.issue-card p, .feedback-card p{
    color: #FFF;
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 5px; 
}

.issue-details {
    text-align: right; /* Align text to the right within the issue details */
}


.mypage-bgc{
    background: linear-gradient(114deg, #401144 8.64%, #1A0E43 99.99%);
}
.mypage-text{
    color: #FFF;
}

.card-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; /* カードの間のスペースを均等に分散 */
    margin-top: 50px;
}

.mypage-username-card{
    width: 100%;
    display: flex;
    padding: 25px 25px 40px 25px;
    /* flex-direction: column; */
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    align-self: stretch;
    border-radius: 20px;
    box-shadow: 4px 4px 8px 3px rgba(0, 97, 152, 0.15);
    background: linear-gradient(102deg, #B056DC 10.8%, #6B3ECF 90.27%);
}

.mypage-username-card-leftarea{
    width: 70%;
    padding: 5px;
    display: flex;              /* 追加 */
    flex-direction: column;     /* 追加 */
    align-items: center; 
}

.mypage-username-card-rightarea{
    width: 30%;
    align-items: center;
}

.mypage-character-name{
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 38px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.mypage-character-subtitle{
    color: #0FF;
    text-align: center;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.mypage-username-card p{
    color: #FFF;
    font-family: Inter;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.mypage-giver-level,
.mypage-seeker-level,
.mypage-stoic-level{
    display: flex; /* Flexboxを有効化 */
    /* flex-direction: column; 子要素を縦方向に並べる */
    /* justify-content: center; 子要素を縦軸で中央に配置 */
    /* align-items: center; */
    height: 60px;
    flex-shrink: 0;
    /* padding: 30px; */
    border-radius: 10.888px;
    border: 2px solid #FFF;
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.mypage-giver-level{
    margin-top: 20px;
    background: linear-gradient(102deg, #5956DC 1.32%, #6B3ECF 100.39%);
}

.mypage-seeker-level{
    background: linear-gradient(102deg, #007CC1 1.31%, #007B8C 100.39%);
}

.mypage-stoic-level{
    background: #2A9DB4;
}

.skill-text{
    display: flex;
    justify-content: center; 
    align-items: center;
    width: 50%;
}

.skill-name{
    width: 50%;
    display: flex;
    justify-content: center;
    font-size: 24px;
    align-items: center;
    /* margin-left: 20px; */
}

.levels-container{
    width: 50%;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.skill-level{
    font-weight: 900;
}

.skill-progress-container{
    width: 50%; /* コンテナの幅 */
    background-color: #ddd; /* 背景色 */
    border: 4px solid black;
    border-radius: 5px; /* 角の丸み */
    margin: 15px;
}

.skill-progress-bar {
    height: 100%;
    background: linear-gradient(91deg, #A13DE5 6.48%, #3F5DFF 96.36%);
    /* border-radius: 5px; 角の丸み */
    transition: width 0.3s ease-in-out; /* 幅の変化にアニメーションを適用 */
}

.mypage-username{
    color: var(--black, #000);
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.mypage-character{
    width: 230px;
    height: 250px;
    flex-shrink: 0;
}

.mypage-character-description{
    width: 60%;
    color: #FFF;
    font-family: Inter;
    font-size: 10px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.giver-seeker-level{
    margin-top: 5px;
    width: 70%;
    display: flex;
    flex-direction: column;
    gap: 20px; /* 各要素間に20pxの隙間 */
    }

.skill-card {
    flex: 0 0 calc(50% - 10px); /* 2つのカードの幅を50%未満にして、マージン分を引く */
    margin-bottom: 20px; /* カード間の縦のスペース */
    border-radius: 15px;
    background: linear-gradient(102deg, #B7143E 1.31%, #FF5215 1.32%, #FF4C00 100.39%, #FF4C00 100.39%, #FF4C00 100.39%);
    padding: 16px;
    width: 200px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    height: 30%;
}

.left-card {
    border-radius: 15px;
    background: linear-gradient(102deg, #B7143E 1.31%, #FF5215 1.32%, #FF4C00 100.39%, #FF4C00 100.39%, #FF4C00 100.39%);
}

.right-card {
    border-radius: 15px;
    background: linear-gradient(102deg, #4B6AB8 1.31%, #4B6AB8 1.32%, #75B6DA 100.38%, #FF4C00 100.39%, #FF4C00 100.39%);
}

.sales-level-text{
    width: 50%;
    text-align: center;
}

.sales-level-text p{
    font-size: 14px;
}


.skill-card-name {
    color: #FFF;
    font-family: Inter;
    font-size: 26px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.skill-card p {
    color: #FFF;
    font-family: Inter;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.skill-card-level{
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.level-component{
    text-decoration: underline;
    text-decoration-color:#FBA541; /* アンダーラインの色 */
    text-decoration-thickness: 4px; /* アンダーラインの太さ */
    /* background: linear-gradient(144deg, #FBA541 11.79%, #FF8A00 95.92%);
    border-radius: 60%; */
}

/* gymleader */

.gymleader-content{
    padding: 0 40px;
}

.gym-leader-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 30px;
}

.gym-leader-skill-area {
    flex: 0 0 calc(50% - 10px); /* 2つのアイテムの幅を50%未満にして、10px分のマージンを引く */
    margin-bottom: 30px;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    padding: 16px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.gym-leader-skill-area h2 {
    font-size: 20px;
    margin-bottom: 20px;
    color: #000;
    text-align: center;
    font-family: Roboto;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 22px; /* 91.667% */
    letter-spacing: 0.25px;
}

.gym-leader-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 20px; /* This creates space between the cards */
}

.gym-leader-card {
    flex: 1 0 calc(33.333% - 20px); /* for 3 cards per row */
    border-radius: 8px;
    border: 3px solid #000;
    background: linear-gradient(180deg, #B023E9 0%, #8546D4 100%);
    padding: 10px;
    text-align: center;
}

.gym-leader-card p{
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 800;
}

.gym-leader-card a {
    text-decoration: none;
    color: #333;
    transition: color 0.3s;
}

.gym-leader-card a:hover {
    color: #007bff;
}

/* gymleader battle */
.gymleader-bg{
    background-image: url('/storage/office_background.png');
    background-size: cover; /* 画像を要素にフィットさせる */
    background-repeat: no-repeat; /* 画像を繰り返さない */
    background-position: center; /* 画像を中央に配置 */
    /* 必要に応じて他のスタイルも追加 */
    min-height: 100vh; /* ビューポートの高さを100%に設定することで、背景が全画面を覆うようにします */
    display: flex;
}

.gymleader-leftarea, .gymleader-rightarea{
    width: 50%;
    display: flex; /* Flexboxを適用 */
    flex-direction: column; /* 子要素を縦方向に並べます */
    align-items: center; /* 垂直方向の中心に配置 */
    justify-content: center; /* 水平方向の中心に配置 */
}

.gymleader-rightarea button{
    border-radius: 24px;
    background: linear-gradient(93deg, #4D54FF 10.41%, #0042A5 97.36%);
    box-shadow: 0px 0px 11.59413px 2.89853px rgba(255, 255, 255, 0.40);
    width: 100px;
    font-size: 30px;
    font-weight: 800;
    color: #FFF;
}

.gymleader-name {
    width: 300px;
    height: 120px;
    flex-shrink: 0;
    background: linear-gradient(180deg, #00F0FF 0%, #2E75FF 100%);
    color: white; /* 文字色を白に設定 */
    padding: 15px; /* 内部のスペースを追加 */
    box-shadow: 10px 10px 0px #000; /* drop-shadow効果を適用 */
    border: 5px solid #000; /* strokeの代わりに境界線を適用 */
    text-align: center;
    line-height: 112px; /* 文字を垂直方向に中央揃え */
    margin-bottom: 20px;
}

.gymleader-name h1{
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 36px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.gymleader-name p{
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 18px; /* フォントサイズを指定 */
    margin-top: 0; /* 余分な余白を削除 */
}

.gymleader-image {
    width: 500px;
    height: 500px;
    object-fit: cover; /* 画像のアスペクト比を維持しながらコンテンツボックスにフィットさせる */
}

.question-card {
    display: flex;          /* Flexboxを有効にする */
    flex-direction: column; /* 子要素を縦方向に配置 */
    justify-content: center;/* 子要素を縦方向の中央に配置 */
    align-items: center;    /* 子要素を横方向の中央に配置 */
    width: 570px;
    height: 235px;
    flex-shrink: 0;
    padding: 15px;          /* カード内部の余白 */
    margin-bottom: 20px;    /* カード間の間隔 */
    box-shadow: 0 4px 6px rgba(0,0,0,0.1); /* カードに少し影をつける */
    border-radius: 24px;
    border: 6px solid #000;
    background: linear-gradient(180deg, #B023E9 0%, #8546D4 100%);
}

.question-card p{
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.question-card textarea{
    width: 80%;
    height: 60%;
    margin-top: 20px;
    border-radius: 24px;
    border: 6px solid #000;
}